body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(226, 224, 235);
}

.container {
    width: 100%;
    height: 800px;
    background-color: rgb(227, 226, 231);
    display: flex;
    align-self: center;
    justify-content: center;
}

.sections {
    margin: 50px 5px;
    height: 638px;
    width: 650px;
    background-color: rgb(211, 211, 211);
}

p {
    text-align: center;
    margin-top: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Carrois Gothic SC';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 76px;
    color: #FFFFFF;
    text-align: center;
}

.listStyle {
    margin-left: 50px;
    padding-left: 10px;
    margin-right: 50px;
    font-family: 'Carrois Gothic SC';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    cursor: pointer;
    color: #000000;
    list-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.listStyle:nth-child(odd) {
    background: #EDEDED;
}

.listStyle:nth-child(even) {
    background: #DEDEDE;
}

ol {
    list-style-type: none;
    counter-reset: css-counters 0;
}

ol li:before {
    counter-increment: css-counters;
    content: counters(css-counters, '.') " ";
}

button {
    margin: 25PX 350PX;
    padding: 5PX 30px;
    font-family: 'Carrois Gothic SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: white;
    letter-spacing: 0.15em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #898989;
}

.rightPreview {
    width: 584px;
    height: 570px;
    background-color: transparent;
    margin: 32px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#finalImg img {
    width: 584px;
    height: 570px;
    box-shadow: -6px 8px 9px 3px #888888;
}